@charset "UTF-8";

body {
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: aliceblue;
}

.title-4 {
    color: rgb(27, 27, 109);
}

.title-3 {
    color: rgb(2, 2, 75);
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/*
h4 - .title-4
h3 - .title-3
.italic (italico-destaque no texto)
*/

