@charset "UTF-8";


/*---------------------------Geral--------------------------*/
body {
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: aliceblue;
    
}

div, section {
    background-color: rgb(1, 1, 49);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.title-4 {
    color: rgb(241, 222, 199);
}

.title-3 {
    color: rgb(230, 200, 161);
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/*--------------------------Aula 07--------------------------*/
.tabela {
    border: 1px solid rgba(0, 0, 0, 0.596);
    border-collapse: collapse;
    text-align: center;
}

#aritmeticos {
    width: 400px;
    height: 180px;
}

#atribuicao {
    width: 400px;
    height: 180px;
}

#relacionais {
    width: 400px;
    height: 180px;
}

#logicos {
    width: 400px;
    height: 90px;
}

#precedencia {
    width: 400px;
    height: 180px;
}

#preced-logic {
    padding: 90px;
    width: 400px;
    height: 60px;
}
 
tr {
    background-color: rgb(185, 172, 151);
}

tr:nth-child(even) {
    background-color: rgb(151, 133, 109);
}


/*--------------------------Aula 10---------------------------*/
#area {
    font-family: monospace;
    color: navy;
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}


/*-----------------------Aulas 11 e 12------------------------*/


/*
h4 - .title-4
h3 - .title-3
.italic (italico-destaque no texto)
*/

